{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
  <div class="wrapper">
    <h4>Пользователи</h4>
    <hr>
    <a href="{{ path('app_register') }}" class="btn btn-primary">Зарегистрировать пользователя</a>
    <hr>
    <table class="table-sm table-striped">
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
        </tr>
      {% endfor %}
    </table>
    <hr>
    {% if totalPages > 1 %}
      <ul class="pagination">
        <li class="page-item{{ currentPage == 1 ? ' disabled' }}">
          <a class="page-link" href="{{ path('user_management', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}"
             aria-label="Назад">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% for i in 1..totalPages %}
          <li class="page-item{{ currentPage == i ? ' active' }}">
            <a class="page-link" href="{{ path('user_management', {page: i}) }}">{{ i }}</a>
          </li>
        {% endfor %}

        <li class="page-item{{ currentPage == totalPages ? ' disabled' }}">
          <a class="page-link" href="{{ path('user_management', {page: currentPage+1 <= totalPages ? currentPage+1 : currentPage}) }}">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Вперед</span>
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
