<div id="{{ compared_value_block_id }}" class="compared-value">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="" class="required">Логический оператор</label>
        <select name="create_validation[compareOperator]" class="compared-value-operator-id form-control">
          {% for operator in logic_operators|keys %}
            <option value="{{ logic_operators[operator] }}">{{ operator }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="" class="required">Значение</label>
        <input type="text" class="compared-value-input form-control" name="create_validation[comparedValues]" required="required" placeholder="пример: 10">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="" class="required">Тип</label>
        <select name="create_validation_comparedValueTypes" class="compared-value-type-id form-control">
          {% for type in compared_value_types|keys %}
            <option value="{{ compared_value_types[type] }}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" id="iss-{{ compared_value_block_id }}" class="form-check-input cv-in-same-section" value="1">
          <label for="iss-{{ compared_value_block_id }}" class="form-check-label">Находится в той же секции, что и проверяемый овтет?</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger float-right" type="button" onclick="removeDivById('{{ compared_value_block_id }}')">Убрать</button>
    </div>
  </div>

  <div class="clearfix"></div>
</div>