{% extends 'base.html.twig' %}

{% block title %}Добавление контроля{% endblock %}

{% block body %}
<h4>Добавить контроль</h4>
<hr>
<div class="wrapper">
  {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
      {{ form_errors(form) }}
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <i><b>{{ form_label(form.title) }}</b></i>
          {{ form_widget(form.title) }}
        </div>
      </div>
    </div>

    <hr>
    <i><b>Проверяемый ответ*</b></i>
    <div class="row">
      <div class="col-md-4">
        {{ form_row(form.answerCode) }}
      </div>
      <div class="col-md-4">
        {{ form_row(form.answerType) }}
      </div>
      <div class="col-md-4">
        {{ form_row(form.answerIndicator) }}
      </div>
    </div>

    <hr>
    <i><b>Сравниваемые значения*</b></i>
    <div id="compared-values">
      <div class="row compare-value">
        <div class="col-md-4">
          {{ form_row(form.compareOperator) }}
        </div>
        <div class="col-md-4">
          {{ form_row(form.comparedValues) }}
        </div>
        <div class="col-md-4">
          {{ form_row(form.comparedValueTypes) }}
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="addComparedValue()">+ добавить</button>

    <hr>
    <i><b>Зависит от ответа (необязательно)</b></i>
    <div class="row">
      <div class="col-md-3">
        {{ form_row(form.relAnswerCode) }}
      </div>
      <div class="col-md-3">
        {{ form_row(form.relAnswerCompareOperator) }}
      </div>
      <div class="col-md-3">
        {{ form_row(form.relAnswerValue) }}
      </div>
      <div class="col-md-3">
        {{ form_row(form.relAnswerType) }}
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <i><b>{{ form_label(form.questionnaireId) }}</b></i>
          {{ form_widget(form.questionnaireId) }}
        </div>
      </div>
    </div>
  {{ form_end(form) }}
</div>
{% endblock %}
