{% extends 'base.html.twig' %}

{% block title %}Контроль{% endblock %}

{% block body %}
<div class="wrapper" id="wrapper">
  <div id="validation-title-block">
    <h4><span id="validation-title">{{ validation.title }}</span> <button data-id="{{ validation.id }}" class="btn btn-primary rename-validation">Переименовать</button></h4>
  </div>
  <input type="hidden" name="validation-id" id="validation-id" value="{{ validation.id }}">
  <hr>
  <div class="answer">
    <p><b><i>Проверяемый ответ</i></b></p>
    <div class="row">
      <table class="table-sm">
        <tr>
          <td><b>Код вопроса:</b></td>
          <td>{{ validation.answerCode }}</td>
        </tr>
        <tr>
          <td><b>Тип:</b></td>
          <td>{{ validation.answerType.valueType.title }}</td>
        </tr>
        <tr>
          <td><b>Атрибут:</b></td>
          <td>{{ validation.answerIndicator.title }}</td>
        </tr>
      </table>
    </div>
  </div>
  <hr>

  {% if validation.relAnswerCode != null %}
  <div class="related-question">
    <p><b><i>Зависит от ответа</i></b></p>
    <div class="row">
      <table class="table-sm">
        <tr>
          <td><b>Код вопроса:</b></td>
          <td>{{ validation.relAnswerCode }}</td>
        </tr>
        <tr>
          <td><b>Оператор сравнения:</b></td>
          <td>{{ validation.relAnswerCompareOperator.operatorValue.title }}</td>
        </tr>
        <tr>
          <td><b>Значение:</b></td>
          <td>{{ validation.relAnswerValue }}</td>
        </tr>
        <tr>
          <td><b>Тип:</b></td>
          <td>{{ validation.relAnswerType.valueType.title }}</td>
        </tr>
        <tr>
          <td><b>В той же секции, что и проверяемый ответ:</b></td>
          <td>{{ validation.inSameSection ? 'да' : 'нет' }}</td>
        </tr>
      </table>
    </div>
  </div>
  <hr>
  {% endif %}

  <div class="compared-values">
    <p><b><i>Сравниваемые значения</i></b></p>
    {% for compared_value in validation.comparedValues %}
    <hr>
    <div class="row">
      <table class="table-sm">
        <tr>
          <td><b>Оператор сравнения:</b></td>
          <td>{{ compared_value.compareOperator.operatorValue.title }}</td>
        </tr>
        <tr>
          <td><b>Значение:</b></td>
          <td>{{ compared_value.value }}</td>
        </tr>
        <tr>
          <td><b>Тип:</b></td>
          <td>{{ compared_value.valueType.valueType.title }}</td>
        </tr>
        <tr>
          <td><b>В той же секции, что и проверяемый ответ:</b></td>
          <td>{{ compared_value.inSameSection ? 'да' : 'нет' }}</td>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
  <hr>

  <div class="questionnaires" id="questionnaires">
    <p><b><i>Относится к опросникам</i></b></p>
    <table id="questionnaires-list">
      {% for questionnaire in questionnaires %}
        <tr id="questionnaire-{{ questionnaire.id }}">
          <td>{{ questionnaire.title }}</td>
          <td><button type="button" class="btn btn-danger detach-questionnaire-btn" onclick="handleDetachQuestionnaireBtnClick('{{ questionnaire.id }}')">Открепить</button></td>
        </tr>
      {% endfor %}
    </table>
    <button class="btn btn-primary attach-questionnaire-btn" id="attach-questionnaire-btn">Добавить</button>
  </div>
  <br>
  <a href="{{ path('validation') }}" class="btn btn-secondary">К списку контролей</a>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    handleRenameValidationBtnClick();
    handleAttachQuestionnaireBtnClick();
  </script>
{% endblock %}