{% extends 'base.html.twig' %}

{% block title %}Контроли{% endblock %}

{% block body %}
<div class="wrapper">
  <h4>Контроли</h4>
  <hr>
  <form action="{{ path('validation') }}" method="POST">
    <div class="input-group mb-3">
      <input type="text" name="value" class="form-control" placeholder="Введите название контроля" value="{{ searchValue }}">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit">Искать</button>
        <a href="{{ path('validation') }}" class="btn btn-outline-secondary">Сбросить</a>
      </div>
    </div>
  </form>
  <hr>
  <a href="{{ path('validation.create_form') }}" class="btn btn-primary">Добавить контроль</a>
  <br>
  <br>
  <table class="table-sm">
    {% if validations|length > 0 %}
      {% for validation in validations %}
        <tr id="validation-{{ validation.id }}">
          <td>{{ validation.title }}</td>
          <td class="btn-group" role="group">
            {#<a href="" class="btn btn-primary">Редактировать</a>#}
            <a href="{{ path('validation.details', {id: validation.id}) }}" class="btn btn-primary">Просмотреть</a>
            <button type="button" class="btn btn-danger remove-validation" data-id="{{ validation.id }}">Удалить</button>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <div class="row">
        <p>Контроли не найдены.</p>
      </div>
    {% endif %}
  </table>
  <hr>
  {% if totalPages > 1 %}
  <ul class="pagination">
    <li class="page-item{{ currentPage == 1 ? ' disabled' }}">
      <a class="page-link" href="{{ path('validation', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}"
        aria-label="Назад">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for i in 1..totalPages %}
    <li class="page-item{{ currentPage == i ? ' active' }}">
      <a class="page-link" href="{{ path('validation', {page: i}) }}">{{ i }}</a>
    </li>
    {% endfor %}

    <li class="page-item{{ currentPage == totalPages ? ' disabled' }}">
      <a class="page-link" href="{{ path('validation', {page: currentPage+1 <= totalPages ? currentPage+1 : currentPage}) }}">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Вперед</span>
      </a>
    </li>
  </ul>
  {% endif %}
</div>
{% include 'validation/processing.html' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
  <script>
      handleRemoveValidationBtnClick();
  </script>
{% endblock %}